html,
body {
    margin: 0;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#topbar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

#map {
    flex: 1;
}
